extends layout.pug

block scripts
    script.
        setTimeout(function () {
            window.location.reload();
        }, 10000);
block content 
    h1= "Loggedin Users"
    h7
        a(href="/logout")="logout"
    table
        each user in users
            tr
                td=user.name
                td=user.phone
                td=user.email
                td
                    if currUser.isAdmin || currUser.id == user.id
                        a(href="/update/"+user.id)="update"
